#about{
    background-color: white;
    border: 2px solid gray;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    width: 600px;
    top: 90px;
    right: -180px;
    transform: rotate(45deg);

}